.jumbotron{
    background-image: url(img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

.btn-clr{
    background:rgb(226, 55, 68);
    color: white!important;
    width: 80px;
}
input[type=text]{
        height: 45px;
}